

@media (max-width:1030px){
  }
  @media(max-width:1000px){

.footer-logo {
  margin-bottom: 3px;
}
.footer-social-icon {
  margin-left: 69%;
  margin-top: -13%;
  position: absolute;
}
  }
  @media(max-width:950px){

  }
  @media(max-width:600px){

button.btn {
  /* margin-top: -10% !important; */
}
div#perfom {
  margin-bottom: 4%;
}
/* .card.card-body {
  margin-top: -13% !important;
} */
img, svg {
    float: inline-end;
}
button.navbar-toggler {
  margin-top: -11%;
}                                                                                                               
.video {
  width: 100%;
  margin-top: 6%;}
  .footer-social-icon {
    margin-left: 69% !important; }
  
   .footer-logo img {
      max-width: 181px;
      margin-top: -42%;
  }
  }
  @media (max-width:550px){
   

div#background {
  position: fixed;
  /* top: -30% !important; */
  top: 14%;
  
}
.container.py-4 {
  position: relative;
  top: -25% !important;
}
h2#thirteen {
  font-size: 35px !important;
  margin-left: 20% !important;
}
h2#fourteen {
  margin-left: 10% !important;
  font-size: 27px !important;
}
.cta-text h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.single-cta i {
  color: #2eadff;
  font-size: 27px;
  float: left;
  margin-top: -9px !important;
}
.footer-logo img {
  max-width: 181px;
  margin-top: -52% !important;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 3px;
}
  }
  @media(max-width:500px){
    h2#fifteen {
      margin-top: -55% !important;
  }
 
  }
  @media(max-width: 450px){
    img, svg {
      float: inline-end;
      width: 71px;
      /* height: 54px; */
  }
  button#bttn {
    width: 100px;
    font-size: 9px;
}

.cta-text h4 {
  color: #fff;
  font-size: 16px;}
  .single-cta i {
    color: #2eadff;
    margin-left: 16px;
    font-size: 27px;
    float: left;
    margin-top: -9px !important;
}
.single-cta i {
    color: #2eadff;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: -2px;}
  h2#fourteen {
    margin-left: 10% !important;
    font-size: 20px !important;
}

element.style {
  color: aliceblue;
  margin-left: 35%;
  font-weight: bolder;
  padding: 4%;
  font-size: 33px;
}

  }
  @media(max-width:400px){
    .footer-widget {
      margin-left: 5%;
  }
.footer-section {
  background: #151414;
  overflow-x: hidden;
  margin-top: -32%;
  position: relative;
}
.footer-logo img {
  max-width: 181px;
  display: none;
  margin-top: -52% !important;
}
.footer-social-icon {
  margin-top: -2%;
  margin-left: 69% !important;
  display: none;
}


  }
  @media(max-width:350px){
 
.footer-section {
  background: #151414;
  overflow-x: hidden;
  margin-top: -56%;}


  
}